@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
* {
  font-family: "Gabarito", sans-serif;
}

.calendar-container {
  text-align: center;
}

.calendar {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 220px;
  margin-top: 10px;
}

.month {
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.month span {
  cursor: pointer;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f0f0f0;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.days span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.days span:hover {
  background-color: #00000023;
}

#selected-date {
  margin-top: 10px;
  padding: 5px;
  width: 350px;
  font-size: 50px;
}
.step {
  background-color: white;
}
.step:hover {
  background-color: black;
}

.step.active {
  background-color: black;
}

#section-lugar {
  width: 100vw;
  height: 50vh;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: center;
}

#section-datos {
  width: 100vw;
  height: 50vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
}

#section-confirmar {
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  display: none;
}
