---
import {getSession} from "auth-astro/server"

import FormLayout from "../layouts/FormLayout.astro";


const session = await getSession(Astro.request);

import validator from "email-validator";
---

<FormLayout title="Contacto" form={{
    entries: [
        {
            name: "email",
            label: "Correo Electrónico",
            opts: {
                placeholder={session.user.email},
                type: "text",
                required: true,
                minlength: "8"
            }
        },
        {
            name: "subject",
            label: "Motivo de la consulta",
            opts: {
                type: "text",
                required: true,
                minlength: "8"
            }
        }
        {
            name: "body",
            label: "Motivo de la consulta",
            opts: {
                type: "text",
                required: true,
                minlength: "8"
            }
        }
    ],

}} displayForm={!session}>
    <div class="flex items-center justify-between mb-4 gap-1">
        <button onclick='(function(){ window.location.replace("/registrar")})();' type="button" class={session ? "hidden" : "block"}>Registrar</button>
    </div>
    <div class="flex items-center justify-between mb-4 gap-1">
        <button onclick='(function(){ window.location.replace("/")})();' type="button">Volver</button>
    </div>
    <div class="flex items-center justify-between mb-6 gap-1">
        <button id="login" type="button" class={session ? "hidden" : "block"}>Iniciar sesión</button>
        <button id="logout" type="button" class={!session ? "hidden" : "block"}>Desconectar</button>
    </div>
    {!session && <p id="result" class="text-error-red hidden" >Había un problema</p>}
    {session && <p class="text-success-green">Iniciado sesión como {session.user.name}</p>}
</FormLayout>

