---
// Página principal
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Descripcion from "../components/Descripcion.astro";
import Carousel from "../components/Carousel.astro";
import BrandCollection from "../components/BrandCollection.astro";
---
<style>
  @import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
  *{
    font-family: 'Gabarito', sans-serif;
  }
</style>
<!-- Implementa los componentes del video, quienes somos, el carousel y el conjunto de sliders -->
<Layout title="San Andreas Motorsports">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Descripcion />
    </div>
    <div class="snap-center">
      <Carousel />
    </div>
    <div class="snap-end snap-start">
      <BrandCollection />
    </div>
  </main>
</Layout>