---
import {getSession} from "auth-astro/server"

import FormLayout from "../layouts/FormLayout.astro";

let session = await getSession(Astro.request);

console.log(session);
---
    <!-- Creacion del formulario del login -->

<FormLayout title="Login" form={{
    entries: [
        {
            name: "username",
            label: "Nombre de usuario:",
            opts: {
                type: "text",
                required: true,
                minlength: "8"
            }
        },
        {
            name: "password",
            label: "Contraseña:",
            opts: {
                type: "password",
                required: true,
                minlength: "8"
            }
        }
    ],
    submitText: "Login",
    button: false
    
}} displayForm={!session}>
    <!-- Actividad de los botones -->

    <div class="flex items-center justify-between mb-4 gap-1">
        <button id="login" type="button" class={session ? "hidden" : "block"}>Iniciar sesión</button>
        <button onclick='(function(){ window.location.replace("/registrar")})();' type="button" class={session ? "hidden" : "block"}>Registrar</button>
    </div>
    <div class="flex items-center justify-between mb-4 gap-1">
        <button onclick='(function(){ window.location.replace("/")})();' type="button">Volver</button>
    </div>
    <div class="flex items-center justify-between mb-6 gap-1">
        <button id="logout" type="button" class={!session ? "hidden" : "block"}>Desconectar</button>
    </div>
    {!session && <p id="result" class="text-error-red hidden" >Se ha encontrado un problema</p>}
    {session && <p class="text-success-green text-center">Sesión iniciada como {session.user.name}</p>}
</FormLayout>

<script>
    import {signIn, signOut} from "auth-astro/client"


    console.log("Hello!");

    document.querySelector("#login").onclick = () => signIn("credentials",
        {"username": document.querySelector("form").elements["username"].value,
            "password": document.querySelector("form").elements["password"].value,
            redirect: false}).then(() => {
                document.querySelector("#result").style.display = "block";
            });

    document.querySelector("#logout").onclick = () => signOut()
</script>
