<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Política de Privacidad - San Andreas MotorSport</title>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

    body {
      font-family: 'Gabarito', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: black;
    }

    header {
      background-color: rgb(15, 23, 42);
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    main {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    h1{
      color: white;
      font-size: 25px;
      font-weight: 900;
    }

    h2 {
      color: black;
      font-size: 20px;
      font-weight: 700;
    }

    p {
      line-height: 1.6;
      margin-bottom: 15px;
    }
  </style>
</head>
<body>

  <header>
    <h1>Política de Privacidad - San Andreas MotorSport</h1>
  </header>

  <main>
    <h2>1. Información recopilada</h2>
    <p>En San Andreas MotorSports, recopilamos información personal, como nombre, dirección y correo electrónico, cuando realizas una consulta sobre nuestros vehículos o servicios. También podemos recopilar información demográfica y de preferencias para mejorar tu experiencia con nosotros. La información de pago se maneja de forma segura a través de servicios de pago confiables.</p>
    
    <h2>2. Uso de la información</h2>
    <p>La información recopilada se utiliza para responder a tus consultas, procesar pedidos y proporcionar información sobre nuestros productos y servicios. Además, podemos utilizarla para personalizar tu experiencia en nuestro sitio web y brindarte ofertas y promociones relevantes. No compartiremos tu información con terceros no afiliados sin tu consentimiento.</p>
    
    <h2>3. Cookies</h2>
    <p>Utilizamos cookies para mejorar la experiencia del usuario en nuestro sitio web. Estas cookies no contienen información personal y son utilizadas con fines estadísticos y de mejora del sitio. Puedes gestionar las preferencias de cookies a través de la configuración de tu navegador. Al continuar utilizando nuestro sitio, aceptas el uso de cookies según nuestra política.</p>
    
    <h2>4. Seguridad</h2>
    <p>Nuestra prioridad es garantizar la seguridad de la información proporcionada. Implementamos medidas de seguridad para proteger contra el acceso no autorizado y la divulgación de información personal. Además, trabajamos con proveedores de confianza que siguen prácticas seguras de manejo de datos. A pesar de nuestras mejores medidas, ten en cuenta que ninguna transmisión de datos por internet es completamente segura y, por lo tanto, no podemos garantizar la seguridad absoluta.</p>
    
    <h2>5. Cambios en la política de privacidad</h2>
    <p>San Andreas MotorSports se reserva el derecho de actualizar esta política de privacidad en cualquier momento. Se te notificará sobre cualquier cambio mediante un aviso destacado en nuestro sitio web. Te recomendamos revisar periódicamente esta política para estar informado sobre cómo protegemos y manejamos tu información.</p>
    
    <h2>6. Contacto</h2>
    <p>Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, por favor, contáctanos a través de <a href="mailto:sanandreasmotorsport@gmail.com">sanandreasmotorsport@gmail.com</a>.</p>
    
    <h2>7. Consentimiento</h2>
    <p>Al utilizar nuestro sitio web y proporcionar tu información, aceptas los términos de nuestra política de privacidad. Si no estás de acuerdo con estos términos, te recomendamos que no utilices nuestro sitio o proporciones información personal.</p>
    <div class="justify-center items-center flex"><a class="bg-slate-800 transition-all hover:bg-slate-950 rounded-xl p-4 text-white" href="/">VOLVER</a></div>
  </main>
</body>
</html>