---
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import SectionColor from "../components/SectionColor.astro";
import SectionRuedas from "../components/SectionRuedas.astro"
import SectionInterior from "../components/SectionInterior.astro"
import SectionConfirm from "../components/SectionConfirm.astro"
---

<Layout title="San Andreas Motorsports">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <SectionColor/>
    </div>
    <div class="snap-center">
      <SectionRuedas />
    </div>
    <div class="snap-center">
      <SectionInterior />
    </div>
    <div class="snap-center">
      <SectionConfirm />
    </div>
  </main>
</Layout>