---
import BrandSlider from "./BrandSlider.astro";
import Section from "./Section.astro"
---

<div class="grid h-full grid-cols-2 py-1">
  <BrandSlider />
  <BrandSlider />
  <BrandSlider />
  <BrandSlider />
</div>
<footer class="mb-13 py-5 text-white bg-black font-bold">
    <ul class="flex flex-row items-center justify-evenly">
      <li><a href="#">Privacidad y legal</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Nuestros concesionarios</a></li>
    </ul>
</footer>
