
<div class="swiper" id="swiper-Carousel-mobile">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img alt="tesla model-s" src="/tesla-arriba-slider.jpg"><a href="/product/tesla"></a></div>
        <div class="swiper-slide"><img alt="mclaren 720s" src="/tesla-slider.jpg"><a href="/product/mclaren"></a></div>
        <div class="swiper-slide"><img alt="chevrolet camaro" src="/camaro-arriba-slider.jpg"><a href="/product/camaro"></a></div>
        <div class="swiper-slide"><img alt="Lamborghini Huracan" src="/huracan-arriba-slider.jpg"><a href="/product/huracan"></a></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    <div>
</div>
<script>
  import Swiper from 'swiper';
  import {Navigation, Pagination, Autoplay} from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  new Swiper("#swiper-Carousel-mobile", {
    modules: [Navigation, Pagination, Autoplay],
    slidesPerView: 1,
    loop: true,
    pagination: {
      el: "#swiper-Carousel-mobile > .swiper-pagination",
      clickable: true,
    },
    autoplay: {
      delay: 1000,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: "#swiper-Carousel-mobile > .swiper-button-next",
      prevEl: "#swiper-Carousel-mobile > .swiper-button-prev",
    },
  });
</script>