---
const { model, ruedas, color } = Astro.props
---

<div class="w-full h-full justify-center items-center flex">
  <img src={`/${model}_${color}_1.png`} class="w-3/5 image-color" alt="Tesla S" />
</div>