---
import NavigateCompra from "./NavigateCompra.astro";
---
<section id="section-confirmar">
  <div class="w-screen h-screen bg-white flex flex-col">
    <NavigateCompra step={[1, 2, 3]} />
      <div class="w-full flex flex-row h-full items-center justify-center">
        <div class="flex flex-row w-1/2 h-4/6 justify-start">
      </div>
      </div>
  </div>
</section>
