---
const { step } = Astro.props
---
<!-- Menu lateral para navegar en la compra de los autos -->
<div>
  <nav class="flex flex-row sm:flex-col w-full">
    <div class=`flex flex-col m-4 sm:flex-row items-center justify-center mt-5 w-full`><a href="#section-color"   class={`sm:mr-4 border-2 border-black rounded-full w-8 h-8 sm:w-16 sm:h-16 ${step[0] === 1 ? 'bg-black' : 'bg-white'}`}></a>Color</div>
    <div class=`flex flex-col m-4 sm:flex-row items-center justify-center mt-5 w-full`><a href="#section-ruedas"  class={`sm:mr-4 border-2 border-black rounded-full w-8 h-8 sm:w-16 sm:h-16 ${step[1] === 2 ? 'bg-black' : 'bg-white'}`}></a>Ruedas</div>
    <div class=`flex flex-col m-4 sm:flex-row items-center justify-center mt-5 w-full`><a href="#section-interior"class={`sm:mr-4 border-2   border-black rounded-full w-8 h-8 sm:w-16 sm:h-16    ${step[2] === 3 ? 'bg-black' : 'bg-white'}`}></a>Interior</div>
    <div class=`flex flex-col m-4 sm:flex-row items-center justify-center mt-5 w-full`><a href="#section-confirm" class={`sm:mr-4 border-2 border-black rounded-full w-8 h-8 sm:w-16  sm:h-16 ${step[3] === 4 ? 'bg-black' : 'bg-white'}`}></a>Encargo</div>
  </nav>
</div>
