---
import 'animate.css';
---

<section
  class="bg-white h-screen w-screen text-center relative flex flex-col items-center snap-center"
>
<div class="flex flex-row items-center justify-evenly w-screen h-screen">
  <div class="w-[70%] h-3/4 items-center justify-center">
    <h2 class="text-4xl font-bold text-center">Tesla Model S</h2>
    <ul class="flex flex-row items-center justify-evenly mt-2"><li>Autonomía: <strong>634km</strong></li><li>Velocidad Máxima: <strong>250km/h</strong></li><li>0-100km/h en <strong>3.2 segundos</strong></li></ul>
    <div class="w-full h-full justify-center items-center flex">
      <img id="image-color" src="/tesla_blanco_1.png" class="w-3/5" alt="Tesla S" />
    </div>
  </div>
  <div >
    <nav class="flex flex-col w-full">
      <div class="flex flex-row items-center justify-center mt-5 w-max"><a class="bg-black border-2 border-black rounded-full w-16 h-16 mr-5 "></a>Color</div>
      <div class="flex flex-row items-center justify-center mt-5 w-max"><a class="bg-white border-2 border-black rounded-full w-16 h-16 mr-5 "></a>Ruedas</div>
      <div class="flex flex-row items-center justify-center mt-5 w-max"><a class="bg-white border-2 border-black rounded-full w-16 h-16 mr-5 "></a>Interior</div>
      <div class="flex flex-row items-center justify-center mt-5 w-max"><a class="bg-white border-2 border-black rounded-full w-16 h-16 mr-5 "></a>Encargo</div>
    </nav>
  </div>
</div>
<footer class="mb-10">
  <div class="flex flex-row justify-center items-center">
    <div class="flex flex-row justify-center items-center">
      <button onclick="window.changeColor('blanco')" class="bg-white border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">
      <button onclick="window.changeColor('negro')" class="animate__fadeIn bg-black border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">      
      <button onclick="window.changeColor('rojo')" class="animate__fadeIn bg-red-700 border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">
      <button onclick="window.changeColor('azul')" class="animate__fadeIn bg-blue-800 border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">
      </div>
  </div>
</footer>
</section>
<section
  class="bg-white h-screen w-screen text-center relative flex flex-col items-center snap-center"
>
<div class="flex flex-row items-center justify-evenly w-screen h-screen">
  <div class="w-[70%] h-3/4 items-center justify-center">
    <h2 class="text-4xl font-bold text-center">Tesla Model S</h2>
    <ul class="flex flex-row items-center justify-evenly mt-2"><li>Autonomía: <strong>634km</strong></li><li>Velocidad Máxima: <strong>250km/h</strong></li><li>0-100km/h en <strong>3.2 segundos</strong></li></ul>
    <div class="w-full h-full justify-center items-center flex">
      <img id="image-rueda" src="/tesla_blanco_1.png" class="w-3/5" alt="Tesla S" />
    </div>
    </div>
  <div >
    <nav class="flex flex-col w-full">
      <div class="flex flex-row items-center justify-center mt-5 w-max"><a class="bg-black border-2 border-black rounded-full w-16 h-16 mr-5 "></a>Color</div>
      <div class="flex flex-row items-center justify-center mt-5 w-max"><a class="bg-black border-2 border-black rounded-full w-16 h-16 mr-5 "></a>Ruedas</div>
      <div class="flex flex-row items-center justify-center mt-5 w-max"><a class="bg-white border-2 border-black rounded-full w-16 h-16 mr-5 "></a>Interior</div>
      <div class="flex flex-row items-center justify-center mt-5 w-max"><a class="bg-white border-2 border-black rounded-full w-16 h-16 mr-5 "></a>Encargo</div>
    </nav>
  </div>
</div>
<footer class="mb-10">
  <div class="flex flex-row justify-center items-center">
    <div class="flex flex-row justify-center items-center">
      <button onclick="window.changeRueda(2);" class="mx-3 w-16 h-16 flex justify-center items-center"><img src="/tesla-llantas-1.avif"></button>
      <button onclick="window.changeRueda(1);" class="mx-3 w-16 h-16 flex justify-center items-center"><img src="/tesla-llantas-2.avif"></button>
    </div>
  </div>
</footer>
</section>

<script>  
  window.selectedColor = {
    color: "blanco",
    rueda: 1
  };

  window.changeColor = function(colorNuevo: string) {
    window.selectedColor.color = colorNuevo;
    const imageColor = document.getElementById("image-color") as HTMLImageElement;
    const imageRueda = document.getElementById("image-rueda") as HTMLImageElement;
    imageColor.src = `/tesla_${window.selectedColor.color}_1.png`;
    imageRueda.src = `/tesla_${window.selectedColor.color}_1.png`;

  }

  window.changeRueda = function(rueda: string) {
    console.log(rueda)
    const imageRueda = document.getElementById("image-rueda") as HTMLImageElement;
    imageRueda.src = `/tesla_${window.selectedColor.color}_${rueda}.png`;
  }
</script>