---
import NavigateProduct from "./NavigateProduct.astro";
const { model } = Astro.props;
---


<section
  class="bg-white h-screen w-screen text-center relative flex flex-col items-center"
  id="section-confirm"
>
<div class="flex flex-row items-center justify-evenly w-screen h-screen">
  <div class="w-[70%] h-full mt-16 flex flex-col items-center justify-center">
    <h2 class="text-6xl text-black font-extrabold text-center">Configuración Finalizada</h2>
    <p class="text-2xl text-black mt-20 text-center">Para realizar el encargo, pinche en el siguiente enlace para concertar una cita con el concesionario y realizar el pago.</p>
    <p class="text-2xl text-black mt-10 text-center">Al finalizar este proceso, recibirá su coche.</p>
    <a href=`/compra/${model}` class="bg-black text-white rounded-full p-2 w-1/3 mt-20 text-2xl font-bold">Concertar cita</a>
  </div>
  <NavigateProduct step={[1, 2, 3, 4]}>
</div>
</section>