<!-- Texto para la sección de la pagina de colaboración con McLaren -->
<section id="about">
  <div class="container">
      <p>McLaren Automotive es una marca britanica de automoviles de alto rendimiento, fundada en 1989. Nuestra pasion por la ingenieria excepcional y el rendimiento inigualable nos ha llevado a la vanguardia de la industria automotriz.</p>
      <p>Nuestros vehiculos, desde el iconico McLaren F1 hasta la gama actual de superdeportivos, encarnan la esencia del rendimiento puro. Cada McLaren se construye con precision artesanal y esta disenado para ofrecer una experiencia de conduccion emocionante y unica.</p>
      <p>En McLaren, nos esforzamos por desafiar los limites de la innovacion. Nuestra dedicacion a la aerodinamica avanzada, la tecnologia punta y el diseno elegante nos ha consolidado como lideres en el mundo de los automoviles de lujo y alto rendimiento.</p>
      <p>Te invitamos a explorar el mundo de McLaren y descubrir la pasion que impulsa cada uno de nuestros vehiculos. Bienvenido a la excelencia en rendimiento automotriz.</p>
  </div>
</section>