<section id="about">
  <div class="text-xl">
      <h2>Sobre Nosotros</h2>
      <p>Lamborghini es una marca italiana de automóviles de lujo y alto rendimiento fundada en 1963. Desde entonces, hemos sido sinónimo de exclusividad, diseño audaz y rendimiento excepcional.</p>
      <p>Nuestros vehículos, desde el icónico Miura hasta los modelos más recientes, reflejan la artesanía italiana y la pasión por la conducción de alto octanaje. Cada Lamborghini es una obra maestra de diseño y rendimiento, construida con materiales de la más alta calidad.</p>
      <p>En Lamborghini, creemos en desafiar los límites y llevar la experiencia de conducción a nuevos niveles. Cada detalle, desde el rugido de nuestros motores hasta la elegancia de nuestros interiores, se combina para ofrecer una experiencia única y emocionante.</p>
      <p>Explora el mundo de Lamborghini y descubre el arte de la automoción italiana. Únete a la exclusiva comunidad de entusiastas que comparten nuestra pasión por la excelencia y la belleza automotriz.</p>
  </div>
</section>