<section id="about">
  <div class="text-xl">
      <h2>Sobre Nosotros</h2>
      <p>Tesla Motors es una empresa líder en la industria de vehículos eléctricos. Desde nuestra fundación en 2003 por Elon Musk y otros visionarios, hemos estado a la vanguardia de la revolución de la movilidad sostenible.</p>
      <p>Nuestra misión es simple pero poderosa: acelerar la transición mundial hacia la energía sostenible. Lo hacemos ofreciendo una amplia gama de vehículos eléctricos premium que no solo son emocionantes de conducir, sino que también contribuyen a un planeta más limpio y saludable.</p>
      <p>En Tesla, nos destacamos por la innovación en tecnología y diseño. Desde el Model S hasta el Model 3, cada vehículo que producimos incorpora lo último en avances tecnológicos, rendimiento excepcional y un compromiso inquebrantable con la seguridad.</p>
      <p>Estamos construyendo el futuro del transporte, y estamos emocionados de que tú seas parte de este viaje hacia un futuro más limpio y sostenible.</p>
  </div>
</section>