<section id="about">
  <div class="text-xl">
      <h2>Sobre Nosotros</h2>
      <p>Camaro es una marca icónica de automóviles deportivos fabricados por Chevrolet, una división de General Motors. Desde su introducción en 1966, el Camaro ha sido sinónimo de rendimiento y diseño audaz.</p>
      <p>En Camaro, nos enorgullece la rica herencia de nuestros vehículos, que han conquistado pistas de carreras y carreteras de todo el mundo. Cada modelo refleja la pasión por la velocidad y la innovación en ingeniería.</p>
      <p>Desde los potentes motores hasta el diseño aerodinámico, cada aspecto de un Camaro está diseñado para ofrecer una experiencia de conducción emocionante. Nuestra dedicación a la calidad y el rendimiento continúa inspirando a conductores y fanáticos por igual.</p>
      <p>Explora el legado de Camaro y únete a la comunidad de entusiastas que comparten la misma pasión por la velocidad y la excelencia automotriz.</p>
  </div>
</section>