<h2>Hace sesenta años, Bruce McLaren desató toda una revolución en el mundo automovilístico</h2>
<section id="about">
  <div class="text-xl">
      <h2>Sobre Nosotros</h2>
      <p>McLaren Automotive es una marca británica de automóviles de alto rendimiento, fundada en 1989. Nuestra pasión por la ingeniería excepcional y el rendimiento inigualable nos ha llevado a la vanguardia de la industria automotriz.</p>
      <p>Nuestros vehículos, desde el icónico McLaren F1 hasta la gama actual de superdeportivos, encarnan la esencia del rendimiento puro. Cada McLaren se construye con precisión artesanal y está diseñado para ofrecer una experiencia de conducción emocionante y única.</p>
      <p>En McLaren, nos esforzamos por desafiar los límites de la innovación. Nuestra dedicación a la aerodinámica avanzada, la tecnología punta y el diseño elegante nos ha consolidado como líderes en el mundo de los automóviles de lujo y alto rendimiento.</p>
      <p>Te invitamos a explorar el mundo de McLaren y descubrir la pasión que impulsa cada uno de nuestros vehículos. Bienvenido a la excelencia en rendimiento automotriz.</p>
  </div>
</section>