<!-- Texto para la sección de la pagina de colaboración con Lamborgini-->

<section id="about">
  <div class="container">
      <p>Lamborghini es una marca italiana de automoviles de lujo y alto rendimiento fundada en 1963. Desde entonces, hemos sido sinonimo de exclusividad, diseno audaz y rendimiento excepcional.</p>
      <p>Nuestros vehiculos, desde el iconico Miura hasta los modelos mas recientes, reflejan la artesania italiana y la pasion por la conduccion de alto octanaje. Cada Lamborghini es una obra maestra de diseno y rendimiento, construida con materiales de la mas alta calidad.</p>
      <p>En Lamborghini, creemos en desafiar los limites y llevar la experiencia de conduccion a nuevos niveles. Cada detalle, desde el rugido de nuestros motores hasta la elegancia de nuestros interiores, se combina para ofrecer una experiencia unica y emocionante.</p>
      <p>Explora el mundo de Lamborghini y descubre el arte de la automocion italiana. Unete a la exclusiva comunidad de entusiastas que comparten nuestra pasion por la excelencia y la belleza automotriz.</p>
  </div>
</section>