---
// Layout para practicamente tódas as páginas de la web
import LandingHeader from "../components/LandingHeader.astro";
export interface Props {
  title: string
  landingHeader?: boolean // Whether to render the landing header. Is true by default
}

const { title, landingHeader=true } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title class="text-center">{title}</title>
  </head>
  <body>
    <!-- Ya que necesitaremos añadir el encabezado con el logo y la barra de navegación
    a todas las páginas -->
    {landingHeader && <LandingHeader />}
    <slot />
  </body>
</html>
